In [2]:
#Heroes of Pymoli
# Dependencies and Setup
import pandas as pd

# File to Load
pymoli_csv = "02-Homework_04-Pandas_HeroesOfPymoli_Resources_purchase_data.csv"
output_file = "HeroesofPymoli.text"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(pymoli_csv)

In [12]:
#Display the total number of players
total_players = len(purchase_data["SN"].value_counts())

#create df
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [14]:
#Purchasing analysis (total)
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len((purchase_data["Item ID"]).unique())
avg_price = (purchase_data["Price"]).mean()
number_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

#Create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[avg_price], 
                           "Number of Purchases": [number_purchases], 
                           "Total Revenue": [total_revenue]})

#Optional: give the displayed data cleaner formatting
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

# Display the summary data frame

In [21]:
#Gender demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
#group by gender
gender_demographics = purchase_data.groupby("Gender")

#group by screen name
gender_count = gender_demographics.nunique()["SN"]

#to find percentage of each gender
percent_of_players = (gender_count/total_players)*100

#create df with percentages and total counts
gender_demographics = pd.DataFrame({"Percentage of Players":percent_of_players, 
                                    "Total Count":gender_count})
gender_demographics.style.format({"Percentage of Players":"{:.2f}"})

In [26]:
#Purchasing Analysis (gender)
#Run basic calculations to obtain avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

#Run basic calculations to obtain purchase count
purchase_count = purchase_data["Purchase ID"].count()

#Run basic calculations to obtain avg. purchase price
avg_purchase_price = purchase_data["Price"].mean()

#Run basic calculations to obtain avg. purchase total per person etc. by gender
avg_purchase_total = purchase_data["Price"].sum()
avg_purchase_per_person = avg_purchase_total/gender_count

#create df 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":avg_purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_per_person})

gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [36]:
#Age demographics
#Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

#Calculate the numbers and percentages by age group
age_df = purchase_data.groupby("Age Group")
total_age_count = age_df["SN"].nunique()
percent_by_age = (total_age_count/total_players)*100

#Create a summary data frame to hold the results
age_demographics = pd.DataFrame({"Total Count":total_age_count,
                                "Percentage of Players":percent_by_age})

#Optional: round the percentage column to two decimal points
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})
#Display Age Demographics Table

In [39]:
#Purchasing Analysis (age)
#Bin the purchase_data data frame by age
purchase_count_age = age_df["Purchase ID"].count()

#Run basic calculations to obtain avg. purchase price
avg_purchase_price_age = age_df["Price"].mean()

#Run basic calculations to obtain avg. purchase total per person etc. by gender
avg_purchase_total_age = age_df["Price"].sum()
avg_purchase_per_person_age = avg_purchase_total_age/purchase_count_age

#create df 
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":avg_purchase_total_age,
                                 "Avg Total Purchase per Person": avg_purchase_per_person_age})

age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

In [48]:
#top spenders
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

top_spenders = purchase_data.groupby("SN")
purchase_count_spenders = top_spenders["Purchase ID"].count()
avg_purchase_price_spenders = top_spenders["Price"].mean()
purchase_total_spenders = top_spenders["Price"].sum()

#create df
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count_spenders,
                                "Average Purchase Price": avg_purchase_price_spenders,
                                "Total Purchase Value":purchase_total_spenders})
#format
spenders_df_format = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
spenders_df_format.style.format({"Purchase Count":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [64]:
#most popular items
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

#group items and calculate purchase price
item_df = purchase_data[["Item ID", "Item Name", "Price"]]
item_id_name = item_df.groupby(["Item ID", "Item Name"])
purchase_count_item = item_id_name["Price"].count()
purchase_price = item_id_name["Price"].sum()

item_price = purchase_price/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_price})
#format
popular_item_format = most_popular_items.sort_values(["Purchase Count"], ascending=True).head()
popular_item_format.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

In [63]:
#most profitable items
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame

popular_item_format = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

#format
popular_item_format.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})